
#Fim{
    text-align: center;
}

#Inicio{
    text-align: center;
}

.Centro{
    text-align: center;
}

#Navegador{
    padding-bottom: 50px;
}

#CentroLista{
    padding-left: 850px;
}